doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    if bodyClass == 'detail'
      meta(name='description', content='A visual design guide for the flag of ' + name + '. This guide describes the flag’s history and official specifications including composition, iconography, colors, and construction.')
    else
      meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')

    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='US Flags [dot] Design')
    if bodyClass !== 'home'
      meta(property='og:title', content=name + ' - US Flags [dot] Design')
      meta(property='twitter:title', content=name + ' - US Flags [dot] Design')
      meta(property='og:url', content='https://usflags.design/' + path)
      meta(property='og:image', content='https://usflags.design/assets/images/og/og-' + path + '.jpg')
      meta(property='og:image:secure_url', content='https://usflags.design/assets/images/og/og-' + path + '.jpg')
      meta(property='twitter:image', content='https://usflags.design/assets/images/og/og-' + path + '.jpg')
      meta(property='og:description', content='A visual design guide for the flag of ' + name + '. This guide describes the flag’s history and official specifications including composition, iconography, colors, and construction.')
      meta(name='twitter:description', content='A visual design guide for the flag of ' + name + '. This guide describes the flag’s history and official specifications including composition, iconography, colors, and construction.')
    else
      meta(property='og:title', content='US Flags [dot] Design')
      meta(property='twitter:title', content='US Flags [dot] Design')
      meta(property='og:url', content='https://usflags.design')
      meta(property='og:image', content='https://usflags.design/assets/images/og/og-us-flags.jpg')
      meta(property='og:image:secure_url', content='https://usflags.design/assets/images/og/og-us-flags.jpg')
      meta(property='twitter:image', content='https://usflags.design/assets/images/og/og-us-flags.jpg')
      meta(property='og:description', content=pageDescription)
      meta(name='twitter:description', content=pageDescription)
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@lynnandtonic')
    meta(name='twitter:creator', content='@lynnandtonic')

    title
      if bodyClass !== 'home'
        | #{name} - US Flags [dot] Design
      else
        | US Flags [dot] Design

    if bodyClass == 'detail'
      link(rel='shortcut icon', href='/assets/images/favicons/' + path + '.png')
    else
      link(rel='shortcut icon', href='/assets/images/favicons/usa.png')
    link(rel='stylesheet', href='https://use.typekit.net/wpe2kir.css')

    link(rel='stylesheet', href='/assets/css/main.css')

    block scripts

  body(class=bodyClass + ' ' + path)

    include mixins/mixins

    .container
      nav.nav-main
        div
          if bodyClass !== 'home'
            a.back(href='/') Back to flags
        .links
          a(href='/about') About
          a(href='/glossary') Glossary

      block content

      footer.footer-main
        p Made with #[span 💚] by #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher]
        p: a(href='https://patreon.com/lynnandtonic') Support this project on Patreon

    include includes/ga.html
